html, body {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#play-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}
